<div class="navbar-wrapper" style="margin-bottom: 10px;margin-top: -20px">
    <div class="container" style="width: 97%">
        <span class=navbar">
          </span><img src="images/restaurant_logo.jpg" alt="Angular Dhaba" style="border:0;border-radius: 5px;margin-top:5px;" height="67" width="250">
            <span style="margin-left: 70px;font-size: xx-large; color: #ffffff">
                Welcome To Angular Dhaba
            </span>
        <ul class="nav pull-right">
                   <span style="color: #ffffff" ><i class="icon-off"></i>User Not Logged In.</li></span>
        </ul>
        </div>

    </div>
</div>