<div class="col-sm-3">
    <ul class="nav nav-list bs-docs-sidenav" style="margin-top: -3px">
        <li><a href="#/" style="text-decoration:none">Home</a></li>

        <li onFocus="focusPopup()"><a href="#" onClick='openSearchPopUp()'>Login</a></li>
        <!--<li><a href="#/login" style="text-decoration:none">Login</a></li>-->
        <li><a href="#" style="text-decoration:none">Register</a></li>

        <li><a href="#" style="text-decoration:none">Link 1</a></li>
        <li><a href="#" style="text-decoration:none">Link 2</a></li>
        <li><a href="#" style="text-decoration:none">Link 3</a></li>
        <li><a href="#" style="text-decoration:none">Link 4</a></li>
        <li><a href="#" style="text-decoration:none">Link 5</a></li>
        <li><a href="#" style="text-decoration:none">Link 6</a></li>
        <li><a href="#" style="text-decoration:none">Link 7</a></li>
        <li><a href="#" style="text-decoration:none">Link 8</a></li>
    </ul>
</div>

<!--window.open("http://localhost:63342/Login/index.html#/", "_blank", " scrollbars=yes, resizable=yes, top=240, left=500, width=400, height=250").focus();-->