<div class="col-sm-8" style="background-color: #f9f9f9; border: inherit;border-radius: 5px">
    <span>{{message}}</span><br/>

    <p class="text-justify"><strong>Angular Dhaba</strong> Restaurants are a perfect hangout for people who look forward to spending quality time with delicious cuisine near them. The restaurants have welcome messages on board at the entrance or people are also welcomed by doormen once they arrive at the restaurant. This welcome gesture not only makes the customers feel special but also leaves a good impression of the restaurant on the customer.

        <br/>
        <strong>“We welcome you to a delicious feast of exquisite dishes in Star line. With a wide range of world cuisines to choose from, we guarantee you a sumptuous feast experience in our restaurant.”</strong>
    </p>
    <p><a class="btn btn-primary">Learn more</a></p>
</div>

